<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0">
<div id="container" style="background-image: url('https://img.tyt.by/n/lady.tut.by/03/9/top_zagranichnykh_vakansiy_1_1_.jpg');
            background-size: cover; overflow: hidden; padding: 20px; height: 250px; width: 500px">
    <h1 style="color: white">
        Will single people ever have sex again ?
    </h1>
    <div style="position:relative; bottom: -50px; overflow: hidden">
        <div style="float: left; border-radius: 50%; background-image: url('https://img.tyt.by/n/lady.tut.by/03/9/top_zagranichnykh_vakansiy_1_1_.jpg');
                    border: 2px solid #e51945; width: 60px; height: 60px; background-size: cover; background-position-x: 265px;">
        </div>
        <div style="float: left; position: relative; top: 10px; color: orangered; margin-left: 25px">
            <div style="float: top" th:utext="${name}">
            </div>
            <div style="float: top; font-size: 18px; font-weight: bold" th:utext="${profile}">
            </div>
        </div>
        <div style="float: right; width: 100px; height: 50px; background: linear-gradient(90deg, rgba(246,80,51,1) 39%, rgba(229,25,25,1) 68%); border-radius: 10px; padding: 6px">
            <p style="margin: 0">See answer on:</p>
            <p style="margin: 5px 0 0 0; font-size: 1.3em;"><b>ask</b><i>fm</i></p>
        </div>
    </div>
</div>
</body>
</html>